# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Static files
staticfiles/
media/

# Secret keys
*.env

# Development and local settings
*.log
*.ini
*.db

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
venv/
node_modules/